<table class="table table hover">
    <thead>
        <tr>
        <th>#ID</th>
        <th>User_ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>Option</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempData of list">
            <td>{{tempData.id}}</td>
            <td>{{tempData.userId}}</td>
            <td>{{tempData.title}}</td>
            <td>{{tempData.body}}</td>
            <td><button mat-raised-button color="warn"(click)="delete(tempData.id)">
                <mat-icon >deleteMe</mat-icon>
                Delete ME</button></td>
        </tr>
    </tbody>
</table>
